#Info about the model we are using from https://console.groq.com/settings/limits
GROQ_API_KEY="YOUR API KEY HERE"
MODEL="openai/gpt-oss-120b"
RPM=30
RPD=1000
TPM=8000
TPD=200000 

#Used for rate limiting, values to be determined through experimentation and/or calculation. May even vary for each condition.
REQUEST_DELAY=2.5
TOKENS_PER_CONVO=1800
MAX_OUTPUT_TOKENS=512

#For splitting up the API calls amongs different machines to manage total request limit, slice num from [0, NUM_SLICES)
NUM_SLICES=4
SLICE_NUM=-1

NEO4J_URI=bolt://localhost:7687
NEO4J_USER=neo4j
NEO4J_PASSWORD=your_password_here
